header {
    background-color: #cccccc;
    height: 70px;
    margin-bottom: 30px;

}

footer {
    background-color: #cccccc;
    height: 30px;
    width: 99%;
    position: relative;
    bottom: 0;
    margin-top: 20px;
}

#wrap {
    height: 100%;
    width: 1024px;
    border: 1px solid #000000;
    position: relative;
    left: 13%;
}

.menu {
    border: 1px solid #cccccc;
    height: 50px;
    width: 254px;
    float: left;
}

#content {
    height: 89%;
    width: 95%;
    margin-left: 30px;
    margin-top: 75px;
    text-height: auto;
    border: 1px solid #cccccc;
    margin-bottom: 20px;
}



