header {
    background-color: #cccccc;
    height: 70px;
    margin-bottom: 30px;

}

footer {
    background-color: #cccccc;
    height: 30px;
    width: 99%;
    position: relative;
    bottom: 0;
    margin-top: 20px;
}

#wrap {
    height: 100%;
    width: 800px;
    border: 1px solid #000000;
    margin: 0 auto;
}

.menu {
    border: 1px solid #cccccc;
    height: 25px;
    width: 264.67px;
    float: left;
}

#content {
    height: 89%;
    width: 95%;
    margin: 0 auto;
    margin-left: 20px;
    margin-top: 10px;
    text-height: auto;
    border: 1px solid #cccccc;
    margin-bottom: 20px;
}

.pics {
    height:  560px;
    width:   800px;
    margin-top: 25px;

} 

.pics img {  
    padding: 15px;  
    height: 560px;
    width: 800px;
    margin-left: -15px;
    margin-top: -15px;
    position: absolute;
    top: 0;
    left: 0;
}



